@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - timesheetapps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                @*<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">timesheetapps</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                          aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>*@
                <img src="~/TimeSheetAppHeaderLogo.jpg" style="width: 190px; height:60px" /> &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" style="background-color:#17a2b8">
                    <ul class="navbar-nav nav-pills flex-grow-1">
                        @if (@HttpContextAccessor.HttpContext.Session.GetInt32("LoginRoleID") != null)
                        {
                            <li class="nav-item">
                                <a id="TimeSheet" class="nav-link text-white" asp-area="Index" asp-controller="TimeSheet" asp-action="Index">View TimeSheet</a>
                            </li>
                            <li class="nav-item">
                                <a id="CreateTS" class="nav-link text-white" asp-area="" asp-controller="TimeSheet" asp-action="Create">Create TimeSheet</a>
                            </li>
                            @if (@HttpContextAccessor.HttpContext.Session.GetInt32("LoginRoleID") == 1)
                            {
                                <li class="nav-item">
                                    <a id="Account" class="nav-link text-white" asp-area="" asp-controller="Account" asp-action="Index">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a id="Users" class="nav-link text-white" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                            </li>
                            <li class="nav-item text-white  ml-auto">
                                <a class="nav-link text-white">
                                Hello&nbsp; @HttpContextAccessor.HttpContext.Session.GetString("DisplayUser")!</a>
                            </li>
                            <li class="nav-item  ml-auto">
                                <a class="nav-link text-white" asp-area="" asp-controller="Login" asp-action="Logout">Log off&nbsp;&nbsp;</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="form-row container-fluid" style="line-height: 30px;">
            2020 - 2021 timesheetapps, All rights reserved
        </div>
        <div class="form-row container-fluid" style="margin-bottom: 20px;">
            <img src="~/TimeSheetAppFooterLogo.jpg" />
            @*&copy; 2021 - timesheetapps -*@ 
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

@if (ViewData["Active"] != null)
{
    <script type="text/javascript">document.getElementById("@ViewData["Active"]").classList.add("active")</script>
}